[*.cs]

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0022: Use expression body for method
dotnet_diagnostic.IDE0022.severity = silent

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = silent

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = suggestion

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = suggestion

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = suggestion

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = suggestion
