<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- only use the feeds below -->
    <clear/>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Parlot" value="https://f.feedz.io/sebastienros/parlot/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Parlot">
      <package pattern="Parlot" />
    </packageSource>
  </packageSourceMapping>
</configuration>
