Hello World from Liquid 2

<h1>{{ ViewData["Title"] }}</h1>

{% for p in Model %}
  <p>{{ p.Firstname }} {{ p.Lastname }}</p>
{% endfor %}

{% assign invoker = 'Index' %}
{% partial 'Home/_Partial' %}

{% section footer %}
This is the footer
{% endsection %}

{% mytag %}