<html>
	<body>
		{{ ViewData['Title'] }}

        {% assign invoker = '_Layout' %}
        {% include '_Partial' %}

		{% renderbody %}		

		<pre>
		{% rendersection footer %}
		</pre>
	</body>
</html>