name: Build

on:
  push:
    branches: [ main ]
    paths-ignore:
    - 'doc/**'
    - 'readme.md'

  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'doc/**'
    - 'readme.md'

jobs:
  build:

    runs-on: ubuntu-latest
    env:
        DOTNET_NOLOGO: true
        DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          2.1.x
          3.1.x
          5.0.x
          6.0.x
          
    - name: Test
      run: dotnet test --configuration Release
    
    - name: Test - Compiled
      run: dotnet test --configuration Release /p:Compiled=true
