name: PR Checks

on:

  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'doc/**'
    - 'readme.md'

jobs:
  build:

    runs-on: ubuntu-latest
    env:
        DOTNET_NOLOGO: true
        DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4

    - name: Version
      run: dotnet --version
    
    - name: Test
      run: dotnet test -c Release

    - name: Test - Compiled
      run: dotnet test --configuration Release /p:Compiled=true
